<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security checker</title>
    <link rel="icon" href="../static/iconeSite.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/site.css">
</head>
<body>

    <div class="barra-cima">
        <img src="../static/dashes.png" class="dashes" id="dashes">
        <a href="https://www.instagram.com/portop_/"><img src="../static/instagram.png" class="instagram"></a>
        <a href="https://github.com/PedroPorto10"><img src="../static/github.png" class="github"></a>
        <a href="https://www.linkedin.com/in/pedro-porto-7a7046283/"><img src="../static/linkedin.png" class="linkedin"></a>
    </div>
    
    <h4>Welcome, {{ username }}.</h4>
    
    <div>
        <h1 class="h1">Protect your password
            <h2 class="h2">Your passsword is not safe if it can be discovered by bruteforce <br> or in a leaked password database</h2>
        </h1>
        <br>
    </div>
    
    <div class="verificaSenha">
        <input class="campo" type="password" id="senha" placeholder="Check your password" oninput="verificaSenha()"><br><br>
        <img src="../static/padlock.png" alt="eye" class="toggle-password" id="toggle-password" onclick="togglePassword()" style="width:15px;height:15px;">
        <div id="barraProgressoContainer" style="width: 100%; height: 15px; background-color: rgb(245, 245, 245); margin-bottom: 50px;">
            <div id="barraProgresso" style="height: 100%; width: 0%; transition: width 0.5s ease;"></div>
        </div><br>

        <a href="/login" class="link"><span class="text">Login with other account</span></a><br>
        <a href="/signUp" class="link"><span class="text">Create an account</span></a>
        
        <span id="mensagem"></span>
    </div>
</body>
</html>
<script src="../static/site.js"></script>