<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="../static/signUp.css">
    <link rel="icon" href="../static/iconeSite.png" type="image/x-icon">
</head>
<body>
    <form method="POST" action="/process_signUp">

        <div class="signUp">
            <h1 class="signUp-head">Sign-up</h1><br>

            <div class="user-signUp">
                <input required="required" id="inputUsr" placeholder="Username" type="text" name="username_signup">
                <label class="usernameLabel" for="inputUsr">Username</label>
                <img src="../static/user.png" alt="usr" class="userIcon">
            </div><br><br>

            <div class="password-signUp">
                <input required="required" id="inputPswd" placeholder="Password" type="password" name="password_signup">
                <label class="passwordLabel" for="inputPswd">Password</label>
                <img src="../static/locker.png" alt="pswd" class="pswdIcon">
                <button class="button" role="button"><span class="text">Register</span></button>

                <a href="/login" class="link"><span class="text">Already have an account?</span></a>
            </div>
        </div>

    </form>
    <script src="../static/signUp.js"></script>
</body>
</html>
